# Copy to .env and fill values
DISCORD_CLIENT_ID=1506310456409849876
DISCORD_CLIENT_SECRET=1a4QTdazHZ8IK8rPw8SrqMVeNptMz262
DISCORD_REDIRECT_URI=https://kyo-course.vercel.app/auth/discord/callback
SESSION_SECRET=kyoka123
PORT=3000
